*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1320px;
    margin: 0 auto;

}

img{
    width: 100%;
}

.banner{
    margin-top: 50px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("/resources/Banner-Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.banner h1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
.banner h3{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 300;
}

.allCategories{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    max-width: 800px;
    margin: 120px auto;
}

.allCategories h1{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 800;
}

.allCategories h4{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 32px;
}
.allCategories h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.allCategories img{
    height: 500px;
}

.midnight-banner{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 120px auto;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("/resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.midnight-banner-content{
    display: flex;
    flex-direction: column; 
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    padding: 100px 0 0 126px;
}

.midnight-img{
    padding-right: 115px;
}

.midnight-banner-content h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.midnight-banner-content p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.btn-join{
    padding: 24px 0 0 32px;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.margin-join-btn{
  margin-top: 20px;
}

.btn-join:hover{
    color: goldenrod;
}

.place{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin: 120px auto;
    height: 500px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.place span{
    color: #F00;
}

.btn-primary{
    padding: 16px 32px;
    text-decoration: none;
    color: #FFF;
    background-color: #F00;
    border: none;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-primary:hover{
    cursor: pointer;
}

.place button{
    border-radius: 5px;
    margin-top: 24px;
}

.fireworks{
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.coming-soon,.sticker{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    max-width: 350px;
}

.sticker{
    margin-left: 30px;
}

.coming-soon h4{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;

}

.coming-soon h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.fireworks p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.sticker h2{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.sticker img{
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

.picture{
    align-items: center;
    justify-content: center;
    width: 460px;
    height: 460px;
    background-color: #F00;
    box-sizing: border-box;
    border-radius: 50%;
    
}

.picture img{
    width: 360px;
    height: 360px;
    border: 30px solid #FFF;
    border-radius: 50%;
    margin: 20px 20px 0 20px;
}

.holiday-sale{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.what-functional{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.what-functional h4{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    
}
.what-functional h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
   
}
.what-functional span{
    color: #F00;
}
.what-functional p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.discount-pics{
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
}

#rectangle{
    position: absolute;
    bottom: -200px;
    width: 1320px;
    height: 230px;
}



.happy-girl{
    position: relative;
    right: -295px;
    height: 430px;
    width: 430px;
    border-radius: 16px 16px 0px 0px;
}
#discount{
    width: 230px;
    position: absolute;
    border: 5px solid #fff;
}


#box{
    width: 300px;
    
}

.portfolio-text h4{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.portfolio-text h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.portfolio-text p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}

.portfolio{
    margin: 320px auto 120px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    gap: 24px;
}

.portfolio-products{
    margin: 24px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.portfolio-products img {
    width: 420px;
    height:450px;
    border-radius: 16px;
}
.portfolio-products img:hover{
    border: 3px solid gray;
    border-radius:20px;
    padding: 0;
}

.newsletter{
    height: 616px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.newsletter img{
    width: 150px;
    height: 150px;
}

.newsletter h2{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.newsletter p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-left: 150px;
    padding-right: 150px;
}

.form-email{
    margin-top: 10px;
    display: flex;
    flex-shrink: 0;
    width: 648px;
    height: 72px;
}
input{
    width: 464px;
    border-radius: 30px 0 0 30px;
    border: none;
    padding: 30px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.form-email button{
    border-radius: 0 30px 30px 0;
}


footer {
    margin: 120px auto 0px;
    padding: 120px 0;
    background-color: #070211;
  }
  
  .footer-area {
    max-width: 1150px;
    margin: 0px auto;
  }
  
  footer p {
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
  }
  
  .add-cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .address {
    margin: 0;
  }
  
  .contact {
    margin: 0;
  }
  
  .phone {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .email {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  footer hr {
    background: rgba(255, 255, 255, 0.15);
    height: 1px;
    border: none;
  }
  
  .contact img {
    width: 24px;
    height: 24px;
    margin: 0;
  }
  
  .social-icons {
    display: flex;
    width: 350px;
    margin: 48px auto ;
    gap: 24px;
  }
  
  .arr {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .unsubscribe{
    text-decoration: none;
    color: #fff;
  }
  .unsubscribe:hover{
    color: #F00;
  }